.sign-up-main {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 70px;

    img {
        height: 70px;
        width: 70px;
    }

    p {
        font-family: Nunito;
        font-size: 24px;
        font-weight: bold;
    }
}

.go-back-to-login-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 35px;
    left: 30px;
    border: none;
    background-color: white;
    background-image: url('/assets/img/login/back.png');

    &:hover {
        background-image: url('/assets/img/login/back_hovered.png');
        cursor: pointer;
    }
}

.password-reset-form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 606px;
    border-radius: 30px;
    position: relative;
    margin-left: calc((100% - 606px) / 2);

    h1 {
        color: #444DF2;
        font-family: Nunito;
        font-size: 42px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0em;
        text-align: center;
    }

    input {
        box-sizing: border-box;
        width: 448px;
        padding: 18px 32px 18px 32px;
        background-color: #eceefe;
        border: none;
        border-radius: 100px;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

        &:hover {
            cursor: text;
            outline: 1px solid #686868;
        }

        &:focus {
            outline: 2px solid #535af1;
        }
    }

}

.password-reset-form {
    width: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-reset-hint {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 448px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.password-reset-description {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 354px;
    color: #686868;
    margin-bottom: 60px;
    margin-top: 0px;
}



.password-reset-email-input {
    background: url('/assets/img/login/mail_gray.png') no-repeat scroll 7px 7px;
    padding-left: 60px !important;
    background-position: 20px 50%;

    &:focus {
        background: url('/assets/img/login/mail_black.png') no-repeat scroll 7px 7px;
        background-position: 20px 50%;
        color: black;
        cursor: text;
    }
}


.password-reset-password-input {
    padding-left: 60px !important;
    background-position: 20px 50%;

    &:focus {
        color: black;
        cursor: text;
    }
}


.password-reset-btns-container {
    display: flex;
    width: 448px;
    align-items: center;
    justify-content: flex-end;

}

.send-email-btn {
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
    background-color: #444DF2;
    font-family: Nunito;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    margin-bottom: 30px;

    &:hover {
        cursor: pointer;
        background-color: #797EF3;
        transition: 0.1s ease-in-out;
    }
}

.password-reset-btn {
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
    background-color: #444DF2;
    font-family: Nunito;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;

    &:hover {
        cursor: pointer;
        background-color: #797EF3;
        transition: 0.1s ease-in-out;
    }
}

.error-message {
    margin-bottom: 30px;
    margin-top: 5px;
    width: 100%;
}

.error-message-container {
    width: 448px;
    height: 25px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.privacy-policy-container {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 70px;

    label {
        width: 30px;
        height: 30px;
    }


    p {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    a {
        color: #797EF3;
        padding: 5px 4px 5px 4px;
        border-radius: 32px;

        &:hover {
            background-color: #ECEEFE;
            cursor: pointer;
            transition: 0.1s ease-in-out;
        }

    }
}


.lower-links-container {
    margin-left: calc(50% - 135.5px);
    display: flex;
    gap: 16px;

    a {
        text-decoration: none;
        font-family: Figtree;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #797EF3;
        border-radius: 32px;
        padding: 5px 15px 5px 15px;
        border: 1px solid rgba(255, 255, 255, 0);

        &:hover {
            border: 1px solid #9747ff;
            cursor: pointer;
            transition: 0.1s ease-in-out;
        }
        
    }
}

.picture-choice-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 606px;
    height: 709px;
    border-radius: 30px;
    position: relative;

    h1 {
        color: #444DF2;
        font-family: Nunito;
        font-size: 46px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0em;
        text-align: center;
    }
}


.btn-disabled {
    background-color: #686868;

    &:hover {
        background-color: #686868;
        cursor: unset;
    }
}

.successfull-sign-up-overlay {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 3;
}

.email-sent-main {
    padding: 50px;
    background: #444DF2;
    border-radius: 30px 30px 0px 30px;
    font-family: Nunito;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    bottom: 50px;
    right: 50px;
    animation: slideDivFromRight 225ms ease-out;
    overflow-x: hidden;

    p {
        margin: 0;
    }

}

.email-sent-overlay {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 3;
}

.mt-20 {
    margin-top: 20px;
}

.red-text {
    color: red;
}

.password-reset-input-main {
    position: relative;
}

.the-eye {
    display: flex;
    position: absolute;
    top: 17px;
    width: 24px;
    height: 24px;
    right: 25px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        cursor: pointer;
    }

}

.visibility_on {
    background-image: url('/assets/img/login/visibility_on_gray.png');

    &:hover {
        background-image: url('/assets/img/login/visibility_on_black.png');
    }
}

.visibility_off {
    background-image: url('/assets/img/login/visibility_off_gray.png');

    &:hover {
        background-image: url('/assets/img/login/visibility_off_black.png');
    }
}

.m-top-30 {
    margin-top: 30px !important;
}

@keyframes slideDivFromRight {
    0% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(0px);
    }
}