@media screen and (max-width: 650px) {

    .sign-up-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: space-around;
    }

    .logo-container{
        position: unset;
        margin-left: 0;
    }

    .lower-links-container{
        position: unset;
    }

    .password-reset-form-container {
        width: 398px !important;
        margin-left: 0;
    }

    .password-reset-form {
        width: 398px;

        input {
            width: 358px;
        }
    }

    .password-reset-btns-container{
        width: 358px;
    }

    .error-message-container {
        width: 358px;
    }

    .lower-links-container{
        margin-left: 0;
    }

    
}

@media screen and (max-width: 450px) {
    .sign-up-main {
        width: 100vw;
        height: auto;
        justify-content: center;
    }

    .password-reset-form-container {
        width: 100% !important;
        border-radius: unset;

        h1{
            font-size: 38px;
            width: calc(100% - 20px);
        }

        form {
            width: 100% !important;
        }
    }

    .go-back-to-login-btn{
        left: 10px;
    }

    .password-reset-input-main {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .password-reset-email-input {
        width: calc(100% - 20px) !important;
    }

    .password-reset-password-input {
        width: calc(100% - 20px) !important;
        padding-left: 20px !important;
    }

    .password-reset-hint {
        width: calc(100% - 20px) !important;
    }

    .password-reset-description{
        width: calc(100% - 20px) !important;
    }

    .error-message-container {
        width: calc(100% - 20px) !important;
        min-height: 25px;
        height: unset;
    }

    .password-reset-btns-container{
        width: calc(100% - 20px) !important;
    }

    
}