<div class="sign-up-main">

    <div class="logo-container">
        <img src="./assets/img/Logo.png" [class.m-top-30]="addTheUpperMargin">
        <p>DA Bubble</p>
    </div>

    <div *ngIf="first" class="password-reset-form-container">
        <h1>Passwort zurücksetzen</h1>
        <button class="go-back-to-login-btn" (click)="goBackToLogin()"></button>
        <p class="password-reset-hint">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
        <form class="password-reset-form" [formGroup]="emailForPasswordResetForm">
            <input required type="email" class="password-reset-email-input" name="email" id="email"
                placeholder="beispielname@email.com" formControlName="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (focus)="showEmailErrorDiv = true">
            <div class="error-message-container" style="margin-bottom: 20px;" [class.visible]="showEmailErrorDiv">
                <mat-error class="red-text" *ngIf="emailForPasswordResetForm.controls.email.invalid">
                    {{ checkEmailErrors('email') }}
                </mat-error>
            </div>

            <p class="password-reset-description">Wir senden Ihnen eine E-Mail, über die
                Sie Ihr Passwort ändern können.</p>
        </form>
        <div class="password-reset-btns-container">
            <button [disabled]="!emailForPasswordResetForm.valid || sendEmailBtnDisabled" class="send-email-btn"
                [class.btn-disabled]="!emailForPasswordResetForm.valid || sendEmailBtnDisabled"
                (click)="sendEmail()">E-Mail senden</button>
        </div>


    </div>

    <div *ngIf="second" class="password-reset-form-container">
        <h1>Passwort zurücksetzen</h1>
        <button class="go-back-to-login-btn" (click)="goBackToLogin()"></button>
        <form class="password-reset-form" [formGroup]="passwordResetForm">
            <div class="password-reset-input-main">
                <input required [type]="type1" class="password-reset-password-input" name="password" id="password"
                    placeholder="Neues Passwort" formControlName="password" (focus)="showPasswordErrorDiv = true">
                    <span (click)="togglePassword1Visibility()" class="the-eye"
                    [ngClass]="{'visibility_on': isText1, 'visibility_off': !isText1 }"></span>
                    <div class="error-message-container" [class.visible]="showPasswordErrorDiv">
                    <mat-error class="red-text" *ngIf="passwordResetForm.controls.password.invalid">
                        {{ checkPasswordErrors('password') }}
                    </mat-error>
                </div>
            </div>

            <div class="password-reset-input-main">
                <input required [type]="type2" class="password-reset-password-input" name="confirmPassword"
                    id="confirmPassword" placeholder="Neues Passwort wiederholen" formControlName="confirmPassword"
                    (focus)="showConfirmPasswordErrorDiv = true">
                    <span (click)="togglePassword2Visibility()" class="the-eye"
                    [ngClass]="{'visibility_on': isText2, 'visibility_off': !isText2 }"></span>
                    <div class="error-message-container" [class.visible]="showConfirmPasswordErrorDiv">
                    <mat-error class="red-text" *ngIf="passwordResetForm.controls.confirmPassword.invalid">
                        {{ checkPasswordErrors('confirmPassword') }}
                    </mat-error>
                </div>
                <div class="error-message-container" [class.visible]="showConfirmPasswordErrorDiv">
                    <mat-error class="red-text" *ngIf="passwordResetForm.hasError('not_matching')">
                        Das Passwort stimmt nicht überein
                    </mat-error>
                </div>

            </div>



        </form>
        <div class="password-reset-btns-container">
            <button [disabled]="!passwordResetForm.valid || resetPWBtnDisabled" class="password-reset-btn"
                [class.btn-disabled]="!passwordResetForm.valid || resetPWBtnDisabled" (click)="resetPassword()">Passwort
                zurücksetzen</button>
        </div>


    </div>

    <div *ngIf="emailSent" class="email-sent-overlay">
        <div class="email-sent-main">
            <p>E-Mail gesendet</p>
        </div>

    </div>

    <div *ngIf="passwordChanged" class="email-sent-overlay">
        <div class="email-sent-main">
            <p>Passwort zurückgesetzt</p>
        </div>

    </div>

    <div class="lower-links-container">
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacy-policy">Datenschutz</a>
    </div>

</div>