@media screen and (max-width: 500px) {
  .textBoxContainer {
    emoji-mart {
      left: 0;
    }

    .mentionUser {
      left: 0;
      max-width: calc(100vw - 32px);
    }

    .userSelection {
      left: 0;
      max-width: calc(100vw - 32px);
    }
  }
}
