<div class="header" *ngIf="userLoaded">

    <div class="left-middle-header">

        <div *ngIf="viewManagementService.defaultLogoVisible$ | async" class="left-header">
            <img src="assets/img/Logo.png" alt="">
            <h1>DABubble</h1>
        </div>

        <div *ngIf="(viewManagementService.defaultLogoVisible$ | async) === false" class="left-header-mobile" (click)="showSidebar()">
            <mat-icon
            class="material-symbols-rounded"
            fontIcon="keyboard_arrow_left"
          ></mat-icon>
          <img src="../../assets/img/workspaceLogo.png" alt="Server Logo">
          <div>Code learning</div>

        </div>

        <div class="headerSearchField" (document:click)="onDocumentClick($event)">
            <div class="input-container" [ngClass]="{'input-over-one': isInputValueGreaterThanOne()}">
                <input type="text" placeholder="Code learning durchsuchen" [(ngModel)]="inputValue"
                    (ngModelChange)="onInputChange()">
                <img src="assets/img/search.png" alt="">
            </div>
            <div *ngIf="isInputValueGreaterThanOne()" class="resultFeld" id="ergebnisFeld">

                <div *ngIf="searchService.searchUserResult.length > 0" class="userResult">
                    <h4>Users:</h4>
                    <ng-container *ngFor="let result of searchService.searchUserResult">
                        <div (click)="serviceProfilCard.toggleProfilCard(true, false, result['id']); onResultClick()" class="userResultContainer">
                            <img src="{{ result['imgUrl'] }}" alt="">
                        <p (click)="serviceProfilCard.toggleProfilCard(true, false, result['id']); onResultClick()">{{
                            result['name'] }}
                        </p>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="searchService.searchChannelsResult.length > 0" class="channelsResult">
                    <h4>Channels:</h4>
                    <ng-container *ngFor="let result of searchService.searchChannelsResult">
                        <p (click)="chatService.setActiveChannelId(result['id']); onResultClick()">{{ result['name'] }}
                        </p>
                    </ng-container>
                </div>

                <div *ngIf="searchService.threads.length > 0" class="channelsResult">
                    <h4>Threads:</h4>
                    <ng-container *ngFor="let result of searchService.threads">
                        <div class="threadsContainer">
                            <h4 (click)="chatService.setActiveChannelId(result['id']); onResultClick()">[Channel: {{
                                result['channelName'] }}]</h4>
                            <p (click)="openThreadfromSearchbar( result['messageId'], result['id'] ); onResultClick()">
                                *{{
                                result['message'] }}*</p>
                        </div>
                    </ng-container>
                </div>

                <ng-container *ngIf="searchService.noResultFound()">
                    <h5>No results found</h5>
                </ng-container>

            </div>
        </div>
    </div>



    <div (click)="toggleDropdownMenu(!showDropdownMenu)" class="header-profil">
        <h2>{{serviceProfilCard.headerUserNameandSurname}}</h2>
        <img class="header-profile-photo" src={{serviceProfilCard.headerProfilePic}}>
        <mat-icon class="material-symbols-outlined" fontIcon="expand_more"></mat-icon>

        <div [class.active]="showDropdownMenu" class="custom-dropdown-menu">
            <div (click)="serviceProfilCard.toggleProfilCard(true, true, '')">Profil</div>
            <div (click)="signOut()">Log out</div>
        </div>
    </div>
</div>


<div *ngIf="viewManagementService.showSidebar$ | async">
    <div class="sidebarSearchField" (document:click)="onDocumentClick($event)">
        <div class="input-container" [ngClass]="{'input-over-one': isInputValueGreaterThanOne()}">
            <input type="text" placeholder="Code learning durchsuchen" [(ngModel)]="inputValue"
                (ngModelChange)="onInputChange()">
            <img src="assets/img/search.png" alt="">
        </div>
        <div *ngIf="isInputValueGreaterThanOne()" class="resultFeld">

            <div *ngIf="searchService.searchUserResult.length > 0" class="userResult">
                <h4>Users:</h4>
                <ng-container *ngFor="let result of searchService.searchUserResult">
                    <p (click)="serviceProfilCard.toggleProfilCard(true, false, result['id']); onResultClick()">{{
                        result['name'] }}
                    </p>
                </ng-container>
            </div>

            <div *ngIf="searchService.searchChannelsResult.length > 0" class="channelsResult">
                <h4>Channels:</h4>
                <ng-container *ngFor="let result of searchService.searchChannelsResult">
                    <p (click)="chatService.setActiveChannelId(result['id']); onResultClick()">{{ result['name'] }}
                    </p>
                </ng-container>
            </div>

            <div *ngIf="searchService.threads.length > 0" class="channelsResult">
                <h4>Threads:</h4>
                <ng-container *ngFor="let result of searchService.threads">
                    <div class="threadsContainer">
                        <h4 (click)="chatService.setActiveChannelId(result['id']); onResultClick()">[Channel: {{
                            result['channelName'] }}]</h4>
                        <p (click)="openThreadfromSearchbar( result['messageId'], result['id']  ); onResultClick()">*{{
                            result['message'] }}*</p>
                    </div>
                </ng-container>
            </div>

            <ng-container *ngIf="searchService.noResultFound()">
                <h5>No results found</h5>
            </ng-container>

        </div>
    </div>
</div>