@import "../../../../styles.scss";

.dialogAddChannelContainer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;

  .dialogAddChannelContent {
    width: 872px;
    height: 539px;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    background-color: white;
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.2));

    .titleAndIcon {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 24px;
        font-weight: 700;
      }

      .icon {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
          background-color: $bgColor;
          color: $purple3;
        }
      }
    }

    .description {
      font-size: 18px;
    }

    .setChannelName {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div:first-of-type {
        font-size: 18px;
        font-weight: 700;
      }

      .inputWithIcon {
        border: 1px solid $lightPurple;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border-radius: 40px;

        &:hover {
          cursor: text;
          border: 1px solid $purple2;
        }

        &.focused {
          border: 1px solid $purple3;
        }

        ::placeholder {
          color: $textGray;
          opacity: 1;
        }

        input {
          flex-grow: 1;
          margin-left: 10px;
          font-size: 18px;
          padding: 18px 20px 18px 0;
          border-radius: 0 40px 40px 0;
          border: none;

          &:focus {
            outline: none;
          }
        }

        mat-icon {
          color: $textGray;
          font-size: 24px;
          padding-left: 20px;
        }
      }

      .nameValidation {
        margin-top: -16px;
        margin-left: 24px;
        color: $errorRosa;
      }
    }

    .setChannelDescription {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div:first-of-type {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;

        p {
          font-weight: 400;
          color: $textGray;
          margin-block: unset;
        }
      }

      ::placeholder {
        color: $textGray;
        opacity: 1;
      }

      input {
        padding: 18px 20px;
        border-radius: 30px;
        border: 1px solid $lightPurple;
        outline: none;
        font-size: 18px;

        &:hover {
          cursor: text;
          border: 1px solid $purple2;
        }

        &:focus {
          border: 1px solid $purple3;
        }
      }
    }

    button {
      align-self: flex-end;
    }
  }
}
